In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings 
warnings.filterwarnings('ignore')
import plotly.graph_objects as go

In [2]:
application = pd.read_csv("data/application_data.csv")
previous_application = pd.read_csv("data/previous_application.csv")
column_desc = pd.read_csv("data/columns_description.csv").set_index("Unnamed: 0")
merged_df = pd.read_csv("data/merged_df.csv")

In [3]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",100)
pd.set_option("display.max_colwidth",None)
pd.options.display.float_format = '{:,.3f}'.format

In [4]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

In [5]:
sns.set_style("darkgrid")

In [6]:
cat = application.select_dtypes(include='object').columns
num = application.select_dtypes(exclude='object').columns
object_features = []
for cols in num:
    if(len(application[cols].value_counts())<20):
        object_features.append(cols)
application[object_features] = application[object_features].astype('object')
num = num.drop(object_features)
cat = application.select_dtypes(include='object').columns
print(num,'\n',cat)

Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')
 Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT'],
      dtype='object')

In [11]:
merged_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],['Consumer loans'],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],['SATURDAY'],[9],['Y'],[1],[0.0],[nan],[nan],['XAP'],['Approved'],[-606],['XNA'],['XAP'],[nan],['New'],['Vehicles'],['POS'],['XNA'],['Stone'],[500],['Auto technology'],[24.0],['low_normal'],['POS other with interest'],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0]
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","['Cash loans', 'Consumer loans', 'Consumer loans']","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","['FRIDAY', 'SUNDAY', 'SATURDAY']","[12, 17, 15]","['Y', 'Y', 'Y']","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","['XNA', 'XAP', 'XAP']","['Approved', 'Approved', 'Approved']","[-746, -828, -2341]","['XNA', 'Cash through the bank', 'Cash through the bank']","['XAP', 'XAP', 'XAP']","['Unaccompanied', 'Family', 'Family']","['Repeater', 'Refreshed', 'Refreshed']","['XNA', 'Furniture', 'Consumer Electronics']","['Cash', 'POS', 'POS']","['x-sell', 'XNA', 'XNA']","['Credit and cash offices', 'Stone', 'Country-wide']","[-1, 1400, 200]","['XNA', 'Furniture', 'Consumer electronics']","[12.0, 6.0, 12.0]","['low_normal', 'middle', 'middle']","['Cash X-Sell: low', 'POS industry with interest', 'POS household with interest']","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]"
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],['Consumer loans'],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],['FRIDAY'],[5],['Y'],[1],[0.21200760306744432],[nan],[nan],['XAP'],['Approved'],[-815],['Cash through the bank'],['XAP'],['Unaccompanied'],['New'],['Mobile'],['POS'],['XNA'],['Regional / Local'],[30],['Connectivity'],[4.0],['middle'],['POS mobile without interest'],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0]
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","['Cash loans', 'Revolving loans', 'Consumer loans', 'Revolving loans', 'Cash loans', 'Cash loans', 'Consumer loans', 'Cash loans', 'Cash loans']","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","['THURSDAY', 'THURSDAY', 'SUNDAY', 'THURSDAY', 'SATURDAY', 'THURSDAY', 'TUESDAY', 'THURSDAY', 'THURSDAY']","[15, 15, 15, 15, 12, 15, 15, 15, 15]","['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y']","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","['XNA', 'XAP', 'XAP', 'XAP', 'XNA', 'XNA', 'XAP', 'XNA', 'XNA']","['Approved', 'Canceled', 'Approved', 'Approved', 'Approved', 'Canceled', 'Approved', 'Canceled', 'Refused']","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","['Cash through the bank', 'XNA', 'Cash through the bank', 'XNA', 'Cash through the bank', 'XNA', 'XNA', 'XNA', 'Cash through the bank']","['XAP', 'XAP', 'XAP', 'XAP', 'XAP', 'XAP', 'XAP', 'XAP', 'LIMIT']","['Unaccompanied', nan, 'Family', 'Unaccompanied', nan, nan, nan, nan, 'Unaccompanied']","['Repeater', 'Repeater', 'Repeater', 'Repeater', 'Repeater', 'Repeater', 'New', 'Repeater', 'Repeater']","['XNA', 'XNA', 'Audio/Video', 'XNA', 'XNA', 'XNA', 'Construction Materials', 'XNA', 'XNA']","['Cash', 'XNA', 'POS', 'Cards', 'Cash', 'XNA', 'POS', 'XNA', 'Cash']","['x-sell', 'XNA', 'XNA', 'x-sell', 'x-sell', 'XNA', 'XNA', 'XNA', 'x-sell']","['Credit and cash offices', 'Credit and cash offices', 'Country-wide', 'Credit and cash offices', 'Credit and cash offices', 'Credit and cash offices', 'Stone', 'Credit and cash offices', 'Credit and cash offices']","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","['XNA', 'XNA', 'Consumer electronics', 'XNA', 'XNA', 'XNA', 'Construction', 'XNA', 'XNA']","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","['low_normal', 'XNA', 'high', 'XNA', 'high', 'XNA', 'middle', 'XNA', 'low_normal']","['Cash X-Sell: low', 'Card Street', 'POS household with interest', 'Card X-Sell', 'Cash X-Sell: high', 'Cash', 'POS industry with interest', 'Cash', 'Cash X-Sell: low']","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]"
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","['Cash loans', 'Cash loans', 'Cash loans', 'Consumer loans', 'Consumer loans', 'Cash loans']","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","['SUNDAY', 'FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY']","[14, 13, 11, 13, 15, 8]","['Y', 'Y', 'Y', 'Y', 'Y', 'Y']","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","['XNA', 'XNA', 'XNA', 'XAP', 'XAP', 'XNA']","['Approved', 'Approved', 'Approved', 'Approved', 'Approved', 'Approved']","[-865, -867, -374, -2357, -1768, -1106]","['Cash through the bank', 'Cash through the bank', 'Cash through the bank', 'Cash through the bank', 'Cash through the bank', 'XNA']","['XAP', 'XAP', 'XAP', 'XAP', 'XAP', 'XAP']","['Unaccompanied', 'Family', nan, 'Family', 'Unaccompanied', nan]","['Repeater', 'Repeater', 'Repeater', 'New', 'Repeater', 'Repeater']","['XNA', 'XNA', 'XNA', 'Audio/Video', 'Audio/Video', 'XNA']","['Cash', 'Cash', 'Cash', 'POS', 'POS', 'Cash']","['walk-in', 'x-sell', 'x-sell', 'XNA', 'XNA', 'x-sell']","['Regional / Local', 'AP+ (Cash loan)', 'Credit and cash offices', 'Country-wide', 'Country-wide', 'Country-wide']","[1200, 4, -1, 1200, 53, -1]","['Consumer electronics', 'XNA', 'XNA', 'Consumer electronics', 'Connectivity', 'Consumer electronics']","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","['high', 'middle', 'middle', 'high', 'high', 'middle']","['Cash Street: high', 'Cash X-Sell: middle', 'Cash X-Sell: middle', 'POS household with interest', 'POS mobile with interest', 'Cash X-Sell: middle']","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]"